<%- include ("partials/header.ejs", {title: "EDIT JOB"}) %>
<div id="form">

    <form action="/jobs/edit/<%= jobData.id %>" method="POST">
        <label>Title</label><br>
        <input type="text" name="title" value="<%= jobData.title %>"><br><br>
        <label>Descriptions</label><br>
        <textarea id="descriptions" name="descriptions" rows="5" cols="50"><%= jobData.description %></textarea><br><br>
        
        <label>Budget</label><br>
        <input type="text" name="budget" value="<%= jobData.budget %>"><br><br>
        <label>Tag</label><br>

       
        <input type="submit" value="Edit Job">
    </form>
</div>

<%- include ("partials/footer.ejs") %>