<%- include ("partials/header.ejs", {title: "List Student"}) %>
    <p><a href = "/jobs/add">add job</a></p>
    <div id="table">
        <table style="width:70%">
            <tr>
                <th>Title</th>
                <th>Descriptions</th>
                <th>Budget</th>
                <th>Tag</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
            <% for(let i=0; i< data.length; i++) { %>
            <tr>
                <td><%= data[i].dataValues.title %></td>
                <td><%= data[i].dataValues.description %></td>
                <td><%= data[i].dolar() %></td>
                <td><% for(let j = 0; j < data[i].dataValues.Tags.length; j++) { %>
                    <%= data[i].dataValues.Tags[j].dataValues.name %> | 
                <% } %>  </td>
                <td> <a href = "/jobs/join/<%= data[i].dataValues.id %>/">Join</a></td>
                <td><a href = "/jobs/delete/<%= data[i].dataValues.id %>/">Delete</a></td>
            </tr>

            <% } %>
        </table>
    </div>
    <%- include ("partials/footer.ejs") %>